body {
  background-image: url("/assets/bg/soday_ss.png");
}

button {
  background-color: #00eedd;
  color: #ffffff;
  border-color: #00ffee;
}

.author {
  font-style: italic;
  text-shadow: 2px 2px 2px #000000;
  color: white;
}

button:hover {
  background-color: #00ccbb;
}

#boxy{
  background-color: #00eedd;
  border: 10px solid #00ccbb;
}