body {
  text-align: center;
  font-family: "Helvetica";
  background-repeat: repeat;
}

hr {
  border-color: #ffffff;
  width: 60%;
}

button {
  color: #ffffff;
  transition-duration: 0.4s;
  width: 200px;
  height: 65px;
  border-radius: 8px;
  margin: 5px;
  padding: 0px;
  border-width: 4px;
}

button:hover {
  text-shadow: 2px 2px 2px #000000;
}

h1, h2, h3, h5 {
  text-shadow: 2px 2px 2px #000000;
  color: white;
}

a {
  text-decoration: none;
  text-shadow: none;
}

h4 {
  margin: auto;
}

.divideSection {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 300px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.paragraph {
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#boxy {
  zoom: 100%;
  width: 70%;
  border-radius: 20px;
  margin: auto;
}

h4 {
  zoom: 100%;
}

img {
  width: 80%;
}

@media (max-width: 840px) {
  #boxy {
    zoom: 100%;
    width: 90%;
    margin: auto;
  }

  body {
    background-size: 10%;
  }

  h4 {
    zoom: 100%;
  }

  .paragraph {
    width: 90%;
  }

  button {
    width: 80%
  }

  .buttons {
    flex-direction: column;
  }

}