@font-face {
  font-family: "Ubuntu Regular";
  src: url("/assets/Ubuntu.ttf");
}

body {
  text-align: center;
  background-repeat: repeat;
  background-size: 10%;
}

html, a, button, body {
  cursor: url("/assets/cursor.png"), default;
}

html {
  font-family: "Ubuntu Regular";
  scroll-behavior: smooth;
}

hr {
  border-color: #ffffff;
  width: 60%;
}

button {
  color: #ffffff;
  transition-duration: 0.4s;
  width: 200px;
  height: 65px;
  border-radius: 6px;
  margin: 5px;
  padding: 0px;
  border-width: 4px;
}

button:hover {
  text-shadow: 2px 2px 2px #000000;
}

h1, h2, h3, h5 {
  text-shadow: 2px 2px 2px #000000;
  color: white;
}

a {
  text-decoration: none;
  text-shadow: none;
}

h4 {
  margin: auto;
}

.divideSection {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 300px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.paragraph {
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#boxy {
  zoom: 100%;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  justify-content: center;
  margin-top: 5%;
}

#topbar {
  z-index: 10;
  zoom: 100%;
  border-radius: 10px;
  margin: auto;
  position: fixed;
  display: inline-block;
  top: -10px;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

h4 {
  zoom: 100%;
  display: inline;
}

img {
  width: 80%;
}

.icon {
  width: 20px;
  display: block;
  margin: auto;
  border: none;
}

.bol23 {
  transition-duration: 0.4s;
  text-decoration: underline;
  color: #ffffff;
}

.bol23:hover {
  color: #aaaaff;
  text-shadow: 2px 2px 2px #000000;
}

.hiddenLink {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}

@media (max-width: 840px) {
  #boxy {
    zoom: 100%;
    width: 90%;
    margin: auto;
    margin-top: 80px;
  }

  body {
    background-size: 10%;
  }

  h4 {
    zoom: 100%;
  }

  .paragraph {
    width: 90%;
  }

  button {
    width: 80%
  }

  .buttons {
    flex-direction: column;
  }
  #topbar {

    display: flex;
    justify-content: space-evenly;
  }
  #topbar a {
    flex: 1;
  }
  #topbar button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
