body {
  background-image: url("/assets/bg/soday_index.png");
}

button {
  background-color: #35dd35;
  color: #ffffff;
  border-color: #66ff66;
}

button:hover {
  background-color: #25cc25;
}

#boxy {
  background-color: #35ee35;
  border: 10px solid #00bb00;
}