body {
  background-image: url("/assets/bg/soday_programmer.png");
}

button {
  background-color: #ff8c00;
  color: #ffffff;
  border-color: #ff9c00;
}

button:hover {
  background-color: #dd6c00;
}

#boxy {
  background-color: #ff8c00;
  border: 10px solid #cc4c00;
}