body {
  background-image: url("/assets/bg/soday_music.png");
}

.divideAlbums {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 300px;
}

img {
  border: solid;
  border-color: #cc05cc;
  border-width: 5px;
  transition-duration: 0.4s;
}

img:hover, .fade:hover {
  border-color: #cc05cc;
  filter: brightness(70%);
}

h1, h2, .fade {
  transition-duration: 0.4s;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}

a {
  color: blue;
}

button {
  background-color: #dd25dd;
  color: #ffffff;
  border-color: #ee35ee;
}

button:hover {
  background-color: #cc15cc;
}

#boxy {
  background-color: #dd25dd;
  border: 10px solid #aa00aa;
}

@media (max-width: 840px) {
  .divideAlbums {
    width: 90%;
  }
}