body {
  background-image: url("/assets/bg/soday_index.png");
}

button {
  background-color: #eeee35;
  color: #ffffff;
  border-color: #ffff66;
}

button:hover {
  background-color: #cccc25;
}

#boxy {
  background-color: #eeee35;
  border: 10px solid #bbbb00;
}