body {
  background-image: url("/assets/bg/soday_index.png");
}

button {
  background-color: #3535dd;
  color: #ffffff;
  border-color: #44dd;
}

button:hover {
  background-color: #2525cc;
}

#boxy {
  background-color: #3535ee;
  border: 10px solid #0000bb;
}